In [2]:
# importing the package
import pandas as pd
import numpy as np

## Importing exporting data files

In [2]:
# reading a csv file
df = pd.read_csv('train.csv')
df

FileNotFoundError: [Errno 2] File b'train.csv' does not exist: b'train.csv'

In [ ]:
# writing a csv file
df.to_csv('writing csv file.csv')

In [ ]:
# reading a excel file
df = pd.read_excel('train.xlsx', 'Sheet3')
df

In [ ]:
# writing a excel file
df.to_excel('writing excel file.xlsx')

### object Creation

In [3]:
# Creating a Series by passing a list of values
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
# Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns
dates = pd.date_range('20200101', periods=10, freq='D')
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randint(10,100, size=(10,4)), index=dates, columns=list('ABCD'))
df

             A   B   C   D
2020-01-01  79  10  15  57
2020-01-02  29  29  84  73
2020-01-03  95  40  17  41
2020-01-04  94  69  86  87
2020-01-05  67  84  96  69
2020-01-06  74  84  71  81
2020-01-07  10  74  84  24
2020-01-08  55  55  41  81
2020-01-09  68  16  75  93
2020-01-10  64  91  90  95

In [6]:
# Creating a DataFrame by passing a dict of objects that can be converted to series-like
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})
print(df2)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [7]:
print(df2.dtypes)

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

### Viewing Data

In [8]:
df.head()

                   A         B         C         D
2020-01-01 -0.026255  0.145526  0.284509  0.161064
2020-01-02  1.021257 -0.872194  0.740973  0.523805
2020-01-03  0.771428  1.220073 -1.632942  0.021661
2020-01-04 -0.218253 -0.398978 -0.028355 -0.458655
2020-01-05 -0.755132  1.184414  2.086443  0.787422

In [9]:
df.tail()

                   A         B         C         D
2020-01-06 -1.372373 -1.488105  1.320178  0.812637
2020-01-07 -2.772278  2.030598 -0.259539 -0.834065
2020-01-08  0.769290 -0.566494 -0.358699  2.155089
2020-01-09 -1.191376  0.492751  1.490684 -0.938467
2020-01-10  0.766519  2.292476 -0.149253 -0.334576

In [10]:
df.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [12]:
# converting pandas df to numpy array - list of lists
df.to_numpy()

array([[-0.02625524,  0.14552583,  0.28450916,  0.1610639 ],
       [ 1.02125655, -0.87219431,  0.74097289,  0.52380494],
       [ 0.77142799,  1.22007304, -1.63294223,  0.02166099],
       [-0.21825325, -0.39897839, -0.02835502, -0.45865451],
       [-0.75513225,  1.18441406,  2.08644287,  0.78742208],
       [-1.37237338, -1.48810519,  1.32017826,  0.81263737],
       [-2.7722783 ,  2.0305982 , -0.25953855, -0.83406543],
       [ 0.76928998, -0.56649433, -0.3586993 ,  2.15508883],
       [-1.19137565,  0.49275058,  1.49068352, -0.9384675 ],
       [ 0.76651925,  2.29247587, -0.14925339, -0.33457597]])

In [13]:
# Describing the pandas df
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean   -0.300717   0.404007   0.349400   0.189591
std     1.225651   1.263032   1.085922   0.928849
min    -2.772278  -1.488105  -1.632942  -0.938467
25%    -1.082315  -0.524615  -0.231967  -0.427635
50%    -0.122254   0.319138   0.128077   0.091362
75%     0.768597   1.211158   1.175377   0.721518
max     1.021257   2.292476   2.086443   2.155089

In [14]:
# Transposing the pandas df
df.T

,2020-01-01,2020-01-02,2020-01-03,2020-01-04,2020-01-05,2020-01-06,2020-01-07,2020-01-08,2020-01-09,2020-01-10
A,-0.026255,1.021257,0.771428,-0.218253,-0.755132,-1.372373,-2.772278,0.769290,-1.191376,0.766519
B,0.145526,-0.872194,1.220073,-0.398978,1.184414,-1.488105,2.030598,-0.566494,0.492751,2.292476
C,0.284509,0.740973,-1.632942,-0.028355,2.086443,1.320178,-0.259539,-0.358699,1.490684,-0.149253
D,0.161064,0.523805,0.021661,-0.458655,0.787422,0.812637,-0.834065,2.155089,-0.938467,-0.334576

In [15]:
df

                   A         B         C         D
2020-01-01 -0.026255  0.145526  0.284509  0.161064
2020-01-02  1.021257 -0.872194  0.740973  0.523805
2020-01-03  0.771428  1.220073 -1.632942  0.021661
2020-01-04 -0.218253 -0.398978 -0.028355 -0.458655
2020-01-05 -0.755132  1.184414  2.086443  0.787422
2020-01-06 -1.372373 -1.488105  1.320178  0.812637
2020-01-07 -2.772278  2.030598 -0.259539 -0.834065
2020-01-08  0.769290 -0.566494 -0.358699  2.155089
2020-01-09 -1.191376  0.492751  1.490684 -0.938467
2020-01-10  0.766519  2.292476 -0.149253 -0.334576

In [16]:
# Sorting a pandas df by a axis
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2020-01-10  0.766519  2.292476 -0.149253 -0.334576
2020-01-09 -1.191376  0.492751  1.490684 -0.938467
2020-01-08  0.769290 -0.566494 -0.358699  2.155089
2020-01-07 -2.772278  2.030598 -0.259539 -0.834065
2020-01-06 -1.372373 -1.488105  1.320178  0.812637
2020-01-05 -0.755132  1.184414  2.086443  0.787422
2020-01-04 -0.218253 -0.398978 -0.028355 -0.458655
2020-01-03  0.771428  1.220073 -1.632942  0.021661
2020-01-02  1.021257 -0.872194  0.740973  0.523805
2020-01-01 -0.026255  0.145526  0.284509  0.161064

In [17]:
# Sorting by values

                   A         B         C         D
2020-01-10  0.766519  2.292476 -0.149253 -0.334576
2020-01-07 -2.772278  2.030598 -0.259539 -0.834065
2020-01-03  0.771428  1.220073 -1.632942  0.021661
2020-01-05 -0.755132  1.184414  2.086443  0.787422
2020-01-09 -1.191376  0.492751  1.490684 -0.938467
2020-01-01 -0.026255  0.145526  0.284509  0.161064
2020-01-04 -0.218253 -0.398978 -0.028355 -0.458655
2020-01-08  0.769290 -0.566494 -0.358699  2.155089
2020-01-02  1.021257 -0.872194  0.740973  0.523805
2020-01-06 -1.372373 -1.488105  1.320178  0.812637

### Data Selection

In [18]:
# Selecting a single column
df['A']

2020-01-01   -0.026255
2020-01-02    1.021257
2020-01-03    0.771428
2020-01-04   -0.218253
2020-01-05   -0.755132
2020-01-06   -1.372373
2020-01-07   -2.772278
2020-01-08    0.769290
2020-01-09   -1.191376
2020-01-10    0.766519
Freq: D, Name: A, dtype: float64

In [10]:
# Selection based on index / slicing
df.iloc[:,:3]

                   A         B         C
2020-01-01 -2.479280  1.327350  0.022145
2020-01-02  1.509369 -0.441190  1.257509
2020-01-03 -0.282163 -0.141510  0.203560
2020-01-04 -1.701467 -0.100218  1.210762
2020-01-05 -1.228870  0.093531  0.046034
2020-01-06  1.288031  1.403171 -0.481594
2020-01-07 -0.413570 -0.865428 -0.417131
2020-01-08 -0.471846  0.846953 -1.939031
2020-01-09 -0.660788 -0.024246 -2.208630
2020-01-10  0.045123 -1.233910 -1.955123

In [20]:
df['20200102':'20200104']

                   A         B         C         D
2020-01-02  1.021257 -0.872194  0.740973  0.523805
2020-01-03  0.771428  1.220073 -1.632942  0.021661
2020-01-04 -0.218253 -0.398978 -0.028355 -0.458655

In [21]:
# Selection by label
df.loc[dates[2]]

A    0.771428
B    1.220073
C   -1.632942
D    0.021661
Name: 2020-01-03 00:00:00, dtype: float64

In [22]:
# selection by multi-axis by label
df.loc[:, ['A', 'B']]

                   A         B
2020-01-01 -0.026255  0.145526
2020-01-02  1.021257 -0.872194
2020-01-03  0.771428  1.220073
2020-01-04 -0.218253 -0.398978
2020-01-05 -0.755132  1.184414
2020-01-06 -1.372373 -1.488105
2020-01-07 -2.772278  2.030598
2020-01-08  0.769290 -0.566494
2020-01-09 -1.191376  0.492751
2020-01-10  0.766519  2.292476

In [23]:
# slicing, both endpoints are included
df.loc['20200101':'20200104', ['A', 'B']]

                   A         B
2020-01-01 -0.026255  0.145526
2020-01-02  1.021257 -0.872194
2020-01-03  0.771428  1.220073
2020-01-04 -0.218253 -0.398978

In [24]:
# Selecting a scalar value
#df.loc[dates[0], 'A']   # -1.0265814007945973
df.at[dates[0], 'A']     # -1.0265814007945973

-0.02625524012137796

In [25]:
# Selection by position of the integers
df.iloc[3]

A   -0.218253
B   -0.398978
C   -0.028355
D   -0.458655
Name: 2020-01-04 00:00:00, dtype: float64

In [26]:
# multiple position
df.iloc[3:5, 0:2]

                   A         B
2020-01-04 -0.218253 -0.398978
2020-01-05 -0.755132  1.184414

In [27]:
# multiple position but different indexes, not a continuous positions
df.iloc[[1, 2, 7], [0, 2]]

                   A         C
2020-01-02  1.021257  0.740973
2020-01-03  0.771428 -1.632942
2020-01-08  0.769290 -0.358699

### Boolean indexing

In [28]:
df

                   A         B         C         D
2020-01-01 -0.026255  0.145526  0.284509  0.161064
2020-01-02  1.021257 -0.872194  0.740973  0.523805
2020-01-03  0.771428  1.220073 -1.632942  0.021661
2020-01-04 -0.218253 -0.398978 -0.028355 -0.458655
2020-01-05 -0.755132  1.184414  2.086443  0.787422
2020-01-06 -1.372373 -1.488105  1.320178  0.812637
2020-01-07 -2.772278  2.030598 -0.259539 -0.834065
2020-01-08  0.769290 -0.566494 -0.358699  2.155089
2020-01-09 -1.191376  0.492751  1.490684 -0.938467
2020-01-10  0.766519  2.292476 -0.149253 -0.334576

In [29]:
# slicing based on condition to one column
df[df['A'] > 0]

                   A         B         C         D
2020-01-02  1.021257 -0.872194  0.740973  0.523805
2020-01-03  0.771428  1.220073 -1.632942  0.021661
2020-01-08  0.769290 -0.566494 -0.358699  2.155089
2020-01-10  0.766519  2.292476 -0.149253 -0.334576

In [30]:
# condition for any position
df[df > 0]

                   A         B         C         D
2020-01-01       NaN  0.145526  0.284509  0.161064
2020-01-02  1.021257       NaN  0.740973  0.523805
2020-01-03  0.771428  1.220073       NaN  0.021661
2020-01-04       NaN       NaN       NaN       NaN
2020-01-05       NaN  1.184414  2.086443  0.787422
2020-01-06       NaN       NaN  1.320178  0.812637
2020-01-07       NaN  2.030598       NaN       NaN
2020-01-08  0.769290       NaN       NaN  2.155089
2020-01-09       NaN  0.492751  1.490684       NaN
2020-01-10  0.766519  2.292476       NaN       NaN

In [31]:
# simple operation
df[df < -1] = 0
df

                   A         B         C         D
2020-01-01 -0.026255  0.145526  0.284509  0.161064
2020-01-02  1.021257 -0.872194  0.740973  0.523805
2020-01-03  0.771428  1.220073  0.000000  0.021661
2020-01-04 -0.218253 -0.398978 -0.028355 -0.458655
2020-01-05 -0.755132  1.184414  2.086443  0.787422
2020-01-06  0.000000  0.000000  1.320178  0.812637
2020-01-07  0.000000  2.030598 -0.259539 -0.834065
2020-01-08  0.769290 -0.566494 -0.358699  2.155089
2020-01-09  0.000000  0.492751  1.490684 -0.938467
2020-01-10  0.766519  2.292476 -0.149253 -0.334576

In [34]:
# Copying a df
df2 = df.copy()

In [35]:
#general way to add a column
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three', 'two', 'three', 'four', 'three']
df2

                   A         B         C         D      E
2020-01-01 -0.026255  0.145526  0.284509  0.161064    one
2020-01-02  1.021257 -0.872194  0.740973  0.523805    one
2020-01-03  0.771428  1.220073  0.000000  0.021661    two
2020-01-04 -0.218253 -0.398978 -0.028355 -0.458655  three
2020-01-05 -0.755132  1.184414  2.086443  0.787422   four
2020-01-06  0.000000  0.000000  1.320178  0.812637  three
2020-01-07  0.000000  2.030598 -0.259539 -0.834065    two
2020-01-08  0.769290 -0.566494 -0.358699  2.155089  three
2020-01-09  0.000000  0.492751  1.490684 -0.938467   four
2020-01-10  0.766519  2.292476 -0.149253 -0.334576  three

In [36]:
# isin method - Important in real time usage
df2[df2['E'].isin(['two', 'four'])]

                   A         B         C         D     E
2020-01-03  0.771428  1.220073  0.000000  0.021661   two
2020-01-05 -0.755132  1.184414  2.086443  0.787422  four
2020-01-07  0.000000  2.030598 -0.259539 -0.834065   two
2020-01-09  0.000000  0.492751  1.490684 -0.938467  four

## Missing values
### none, np.nan, NaT

In [ ]:
df

In [ ]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1], 'E'] = 1
df1

In [ ]:
# dropping any missing values
df1.dropna(how='any')

In [ ]:
np.mean(df1['D'])

In [ ]:
# filling missing values
df1.fillna(np.mean(df1['E']))

In [ ]:
# to get boolean results
pd.isna(df1)

In [ ]:
# other options
df1.notna()

In [ ]:
# important difference to take note
# the nan's dont compare equal, but None's do
print(None == None)
print(np.nan == np.nan)

In [ ]:
df1

In [ ]:
df1['E'] == np.nan

In [ ]:
# missing values in timestamp data type
df1['timestamp'] = pd.Timestamp('20120101')

#inserting missing values
df1.loc[dates[0]:dates[1], 'timestamp'] = np.nan
df1

In [ ]:
# other way of inserting missing values
df1.loc[dates[0],'C'] = None
df1

In [ ]:
# basic operations in NA values df
df[df< 0] = np.nan
df

In [ ]:
df1

In [ ]:
# sum - ignores NA values by default
#df1['C'].sum()
df1['C'].sum(skipna = False)

In [ ]:
# cumulative sum - use axis if you want to do it in row/coulnms
df1.iloc[:,:-1].cumsum(skipna = True, axis = 1)

### Merging

In [ ]:
# creating a sample dataframe
df = pd.DataFrame(np.random.randn(10, 4))
df

In [ ]:
# Breaking down th df into multiple pieces and storing them into list of lists
pieces = [df[:3], df[3:7], df[7:]]
pieces

In [ ]:
# concatinating the list of list forms a df
pd.concat(pieces)

#### merging with Joins in df

In [ ]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [3, 4]})
left

In [ ]:
pd.merge(left, right, on='key', how = 'right')

In [ ]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['bar', 'foo'], 'rval': [3, 4]})
right

In [ ]:
pd.merge(left, right, on='key', how = 'outer')

### Group by in df

In [ ]:
df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
                    'B': ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
                    'C': np.random.randn(8),
                    'D': np.random.randn(8)})
df

In [ ]:
df.groupby('A').sum()

In [ ]:
df.groupby(['A', 'B']).sum()

In [ ]:
### Pivot tables in df
df = pd.DataFrame({'A': ['one', 'one', 'two', 'three'] * 3,
                    'B': ['A', 'B', 'C'] * 4,
                    'C': ['foo', 'bar'] * 6,
                    'D': np.random.randn(12),
                    'E': np.random.randn(12)})
df

In [ ]:
# values, Row, Column
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

In [ ]:
### Categorical in df
df = pd.DataFrame({"id": [1, 2, 3, 4, 5, 6], "raw_grade": ['a', 'b', 'b', 'a', 'a', 'e']})
df["grade"] = df["raw_grade"].astype("category")
print(df["raw_grade"])
print(df["grade"])

In [ ]:
# renaming the category with different names
df["grade"].cat.categories = ["very good", "good", "very bad"]
df

In [ ]:
# sorting according to the category 
df.sort_values(by="grade", ascending = False)

In [ ]:
# grouping according to the category
df.groupby("grade").size()

In [39]:
df[df>0]

                   A         B         C         D
2020-01-01       NaN  0.145526  0.284509  0.161064
2020-01-02  1.021257       NaN  0.740973  0.523805
2020-01-03  0.771428  1.220073       NaN  0.021661
2020-01-04       NaN       NaN       NaN       NaN
2020-01-05       NaN  1.184414  2.086443  0.787422
2020-01-06       NaN       NaN  1.320178  0.812637
2020-01-07       NaN  2.030598       NaN       NaN
2020-01-08  0.769290       NaN       NaN  2.155089
2020-01-09       NaN  0.492751  1.490684       NaN
2020-01-10  0.766519  2.292476       NaN       NaN

# References
https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html